	#box ul {
	list-style:none;
	}

	#box ul li { 
	font-size:20px;
	text-align:center;
	font-family:Arial;
	color:white;
	text-shadow: 4px 4px 8px white, 8px 8px 18px white;
	background-color:transparent;
	width:270px;
	height:50px;
	line-height:50px;
	position:center;
	float:left;
	border:7.5px solid transparent ;
	border-image:url( circle.svg ) 25 round;
	}
	
	#box ul li:hover {
	background-color :black;
    	animation-name:barcolor;
    	animation-duration:1.5s;
	transform:scale(1.1);
	}
	
	#box ul ul {
	display:none;
	}
	
	#box ul li:hover>ul {
	display:block;
	}
	
	@keyframes barcolor {
    from {background-color:transparent;}
    to {background-color:black;}
	}
	
	img {
	border-radius:30px;
	}
	
	td:hover {
	transform:scale(1.05);
	}

	/* Slideshow container */
.slideshow-container {
  width:100%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

