	#box ul {
	list-style:none;
	}

	#box ul li { 
	font-size:20px;
	text-align:center;
	font-family:Arial;
	color:yellow;
	text-shadow: 2px 2px 4px white;
	background-color:transparent;
	width:270px;
	height:50px;
	line-height:50px;
	position:center;
	float:left;
	border:7.5px solid transparent ;
	border-image:url( crate.svg ) 30 round;
	}
	
	#box ul li:hover {
	background-color :#664400;
    	animation-name:barcolor;
    	animation-duration:1.5s;
	transform:scale(1.1);
	}
	
	#box ul ul {
	display:none;
	}
	
	#box ul li:hover>ul {
	display:block;
	}
	
	@keyframes barcolor {
    from {background-color:transparent;}
    to {background-color:#664400;}
	}
	
	#menuimg:hover {
	transform: scale(1.02);
	}
	
	#font01 {
	font-size:65px;
	text-align:center;
	font-family:Comic Sans MS;
	color:white;
	text-shadow: 4px 4px 8px #111a00, 8px 8px 24px yellow;
	}
	
	#font02 {
	font-size:17.5px; 
	text-align:center;
	font-family:Cursive;
	color:white;
	}
	
	img {
	border-radius:30px;
	}
	
	td {
	height:310px;
	width:375px;
	}
	
	td:hover {
	transform:scale(1.05);
	}
